* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(225, 100%, 98%);
    --clr-primary: hsl(230, 17%, 14%);
    --clr-secondary: hsl(228, 12%, 44%);
    --clr-accent-1: hsl(163, 72%, 41%);
    --clr-accent-2: hsl(356, 69%, 56%);

    --clr-fb: hsl(195, 100%, 50%);
    --clr-tw: hsl(203, 89%, 53%);
    --clr-ig-1: hsl(37, 97%, 70%);
    --clr-ig-2: hsl(329, 70%, 58%);
    --clr-yt: hsl(348, 97%, 39%);

    --bg-toggle-1: hsl(230, 22%, 74%);
    --bg-toggle-2: var(--bg-toggle-1);
    --move-toggle: 3px;
    --clr-toggle: var(--bg-primary);

    --bg-card: hsl(227, 47%, 96%);
    --bg-card-hover: hsl(240, 12%, 90%);

    --clr-h3: var(--clr-secondary); 
}

.darkmode {
    --bg-primary: hsl(230, 17%, 14%);
    --bg-secondary: hsl(232, 19%, 15%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(228, 34%, 66%);

    --clr-toggle: var(--bg-secondary);
    --bg-toggle-1: hsl(146, 68%, 55%);
    --bg-toggle-2: hsl(210, 78%, 56%);
    --move-toggle: 25px;

    --bg-card: hsl(228, 28%, 20%);
    --bg-card-hover: hsl(228, 19%, 30%);

    --clr-h3: var(--clr-primary); 
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

body * {
    transition: all .3s linear;    
}

.container {
    background-color: var(--bg-primary);
    transition: all .5s ease-in-out;
    padding-bottom: 2rem;
}

.dashboard {
    background-color: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 0 0 20px 20px;
    color: var(--clr-secondary);
}

header {
    padding: 1rem 0;
    line-height: 30px;
}

header h3 {
    font-size: 1.6rem;
    color: var(--clr-primary);
}

header p {
    font-weight: 700;
}

.switch {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    border-top: 1px solid var(--clr-secondary);
}

.switch:hover label{
    color: var(--clr-primary);
}

.switch label {
    font-weight: 700;
}

#toggle {
    position: relative;
    -webkit-appearance: none;
    width: 45px;
    height: 23px;
    background: linear-gradient(to left, var(--bg-toggle-1), var(--bg-toggle-2));
    border-radius: 25px;
    cursor: pointer;
    outline: 0;
}

#toggle::before {
    content: "";
    position: absolute;
    background-color: var(--clr-toggle);
    width: 17px;
    height: 17px;
    top: 3px;
    right: var(--move-toggle);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#toggle::before {
    right: var(--move-toggle);
}

#toggle:hover {
    background: linear-gradient(to left, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
}

.all-sc-media {
    width: 100%;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: -50px;
}

.sc-media {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--bg-card);
    padding: 1.5rem;
    border-radius: 5px; 
}

.sc-media.fb {
    border-top: 5px solid var(--clr-fb);
}

.sc-media.tw {
    border-top: 5px solid var(--clr-tw);
}

.sc-media.ig {
    position: relative;
}

.sc-media.ig::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--clr-ig-1), var(--clr-ig-2));
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0; 
}

.sc-media.yt {
    border-top: 5px solid var(--clr-yt);
}

.username {
    color: var(--clr-secondary);
    font-weight: 700;
}

.username img {
    vertical-align: middle;
    margin-right: 10px;
}

.sc-media h2 {
    font-size: 3.2rem;
    padding-top: .3em;
    color: var(--clr-primary);
}

.sc-media p:nth-child(3) {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--clr-secondary);
    margin-bottom: 30px;
    font-weight: 400;
}

.gain {
    color: var(--clr-accent-1);
}

.loss {
    color: var(--clr-accent-2);
}

.gain, .loss {
    font-weight: 700;
}

.gain img,
.loss img {
    margin-right: 3px;
    vertical-align: middle;
}

.overview {
    padding: 1rem 1.5rem;
}

.overview h3 {
    color: var(--clr-h3);
}

.detail-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    background-color: var(--bg-card);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5em;
    gap: 1em; 
    border-radius: 6px;
}

.card:hover,
.sc-media:hover {
    background-color: var(--bg-card-hover);
    cursor: pointer;
}

.activity {
    color: var(--clr-secondary);
    font-weight: 700;
}

.activity-no {
    color: var(--clr-primary);
    font-size: 2em;
    font-weight: 700;
    align-self: center;
}

.card div,
.card .gain,
.card .loss {
    justify-self: end;
    align-self: end;
    padding-bottom: 1px
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 2em;
    background-color: var(--bg-secondary);
    color: var(--clr-primary); 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 1em;
    text-decoration: none;
    font-weight: 700;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration: underline;
}

@media screen and (min-width: 767px) {
    .container {
        padding-bottom: 4em;
    }

    .dashboard, .all-sc-media, .overview {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .dashboard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 9rem;
    }

    .dashboard h3 {
        font-size: 1.9rem;
    }

    .switch {
        margin: 0 0 0 auto;
        border-top: 0;
    }

    #toggle {
        margin-left: 10px;
    }

    .all-sc-media {
        margin-top: -130px;
        gap: 2rem;
        padding-bottom: 1.5rem;
    }

    .detail-cards {
        gap: 2rem;
    }
}

@media screen and (min-width: 1100px) {
    .all-sc-media,
    .detail-cards {
        grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
        gap: 2rem;
    }

    .dashboard,
    .all-sc-media,
    .overview {
        padding-left: 9rem;
        padding-right: 9rem;
    }

    .overview {
        padding-top: 0;
    }
}
