* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
}

.dashboard {
    background-color: hsl(225, 100%, 98%);
    padding: 1.5rem;
    border-radius: 0 0 20px 20px;
    color: hsl(228, 12%, 44%);
}

header {
    padding: 1.5rem 0;
    line-height: 25px;
}

header h3 {
    font-size: 1.5rem;
    color: hsl(230, 17%, 14%);
}

header p {
    font-weight: 700;
}

.switch {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    border-top: 1px solid hsl(228, 12%, 44%);
}

.switch label {
    font-weight: 700;
}

#toggle {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 25px;
    background-color:hsl(230, 22%, 74%);
    border-radius: 25px;
    cursor: pointer;
}

#toggle::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 19px;
    height: 19px;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#toggle:checked {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

#toggle:checked::before {
    left: 22px;
}

.all-sc-media {
    width: 100%;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: -50px;
}

.sc-media {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: hsl(227, 47%, 96%);
    padding: 1.5rem;
    border-radius: 5px; 
}

.sc-media.fb {
    border-top: 5px solid hsl(195, 100%, 50%);
}

.sc-media.tw {
    border-top: 5px solid hsl(203, 89%, 53%);
}

.sc-media.ig {
    position: relative;
}

.sc-media.ig::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0; 
}

.sc-media.yt {
    border-top: 5px solid hsl(348, 97%, 39%);
}

.username {
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}

.username img {
    vertical-align: middle;
    margin-right: 10px;
}

.sc-media h2 {
    font-size: 3.5rem;
    padding-top: .3em;
}

.sc-media p:nth-child(3) {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: hsl(228, 12%, 44%);
    margin-bottom: 30px;
    font-weight: 400;
}

.gain {
    color: hsl(163, 72%, 41%);
}

.loss {
    color: hsl(356, 69%, 56%);
}

.gain, .loss {
    font-weight: 700;
}

.gain img,
.loss img {
    margin-right: 3px;
    vertical-align: middle;
}

.overview {
    padding: 0 1.5rem;
}

.overview h3 {
    color: hsl(228, 12%, 44%)
}

.detail-cards {
    padding: .5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background-color: hsl(227, 47%, 96%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 1.5em;
    gap: 1em; 
    border-radius: 6px;
}
.card:hover,
.sc-media:hover {
    background-color: hsl(240, 12%, 90%);
    cursor: pointer;
}

.activity {
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}

.activity-no {
    color: hsl(230, 17%, 14%);
    font-size: 2.7em;
    font-weight: 700;
    align-self: center;
}

.card div,
.card .gain,
.card .loss {
    justify-self: end;
    align-self: end;
    padding-bottom: 1px
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 2em;
    background-color: hsl(225, 100%, 98%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 1em;
    text-decoration: none;
    font-weight: 700;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration: underline;
}

/* DARK MODE */

.container.drkmd{
    background-color: hsl(230, 17%, 14%);
}

.dashboard.drkmd {
    background-color: hsl(232, 19%, 15%);
}

.sc-media.drkmd,
.card.drkmd,
.attribution.drkmd {
    background-color: hsl(228, 28%, 20%);
}

.sc-media.drkmd:hover,
.card.drkmd:hover {
    background-color: hsl(228, 19%, 30%);
}

header h3.drkmd,
.sc-media.drkmd,
.activity-no.drkmd,
.overview h3.drkmd,
.attribution a.drkmd {
   color: hsl(0, 0%, 100%);
}

.dashboard.drkmd,
.username.drkmd,
.sc-media p:nth-child(3).drkmd,
.activity.drkmd,
.attribution.drkmd {
    color: hsl(228, 34%, 66%);
}

